*{
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 90, 144);
    height: 100vh;
}



.loading span{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: -12px;
}

.fruta{
    width: 50px;
    height: 50px;
}

.loading span{
    animation: bounce .6s cubic-bezier(0.6,0.1,1,0.4);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loading span:nth-child(1){
    animation-delay: .1s;
}
.loading span:nth-child(2){
    animation-delay: .2s;
}
.loading span:nth-child(3){
    animation-delay: .3s;
}

@keyframes bounce{
    to{
        transform: translateY(50px);
    }
}